<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042195251774-sp9hqqgc8gc4gad2h1srjakvjvv7afli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042195251774-sp9hqqgc8gc4gad2h1srjakvjvv7afli</string>
	<key>API_KEY</key>
	<string>AIzaSyAj43Yw_vTterjQQDEAfkpc9sTyRyKclUI</string>
	<key>GCM_SENDER_ID</key>
	<string>1042195251774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carOkay.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>carokay-3a57e</string>
	<key>STORAGE_BUCKET</key>
	<string>carokay-3a57e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042195251774:ios:da5e34429f6ff133ae876f</string>
</dict>
</plist>